@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    user-select: none;

}

html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    margin:0px;

    flex-direction: row;
    width: 100%;
    height: 100%;

    background: rgb(255,255,255);
    background: rgb(249,228,86);
    background: linear-gradient(135deg, rgba(249,228,86,1) 0%, rgba(235,57,74,1) 50%, rgba(44,39,113,1) 100%);


    /* background-image: url("./cool-background.svg");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: right; */
    

     /* background: rgb(7,8,228);
background: linear-gradient(135deg, rgba(7,8,228,1) 0%, rgba(28,4,97,1) 50%, rgba(89,9,151,1) 100%); */


    /* background: linear-gradient(135deg, rgb(139, 139, 139) 0%, rgba(28,28,28,1) 100%); */
}
nav{
    height: 100%;
    width: 400px;
    /* background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 100%); */
    display: flex;

    align-items: center;
    justify-content: center;
}
.hrefContainer{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* background-color: red;s */
}

.hrefContainer a{
    width: 100%;
    height: 40px;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);


    font-family: outfit;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    /* border: 4px white solid; */
    text-align: center;
    transition: 250ms;
}

.hrefContainer a:hover{
    /* color:rgb(236, 236, 236) */
    background-color: rgba(255, 255, 255, 0.9);
}

#login{
    position: absolute;


    cursor: pointer;
    width: 100px;
    left: 10px;
    bottom: 10px;
}

.search{
    width: 325px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    /* width: 100px; */
    height: 50px;
    top: 20px;
    /* width: 100%; */
}
.search img{
    cursor: pointer;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 20px;

    padding: 10px;
    height: calc(100% - 20px) ;
    aspect-ratio: 1/1;

    transition: 250ms;
}
.search img:hover{
    background-color: rgba(255, 255, 255,0.8);

}

input{
    border-radius: 20px;
    border-width: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255,0.7);

    padding-left: 20px;

    font-family: outfit;

    font-weight: 700;
    font-size: 16px;
    transition: 250ms;

}

input:focus{
    outline: 0px;
    background-color: rgba(255, 255, 255,0.8);

}


main{
    /* background-color: red; */
    row-gap: 32px;
    column-gap: 32px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100% - 64px);
    width: 1520px;
    padding: 32px;

    overflow-y: scroll;

    /* background-color: red; */
}


.blogButton{
    /* opacity: 0.9; */

    overflow: hidden;
    position: relative;
    display: flex;
    cursor: pointer;
    /* width: fit-content; */
    height: 450px;
    /* width: var(--button-width); */
    /* width: 450px; */
    /* width: min-content; */
    /* max-width: 880px; */

    border-radius: 20px;
    justify-content: center;
    align-items: center;

    /* padding: 50px; */
    transition: 250ms;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;


    /* letter-spacing: -1px; */
    color:white;
    font-family: "Outfit";
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;

    /* word-break: ; */
    text-align: center;
    vertical-align: middle;

    /* line-height: 75%; */
    line-height: 110%;
    font-size: var(--title-font-size);
}



.blogButton::before {
    background-image: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
    content: "";
    position: absolute;
    inset: 0;
    /* mix-blend-mode: overlay; */
    z-index: -1;
    transition: 250ms;
}
.blogButton::after{
    border-radius: 20px;
    /* opacity: 0; */
    background-color: rgba(255, 255, 255, 1);
    content: "";
    position: absolute;

    inset: 0;
    mix-blend-mode: overlay;
    z-index: -1;
    transition: 250ms;
}
.blogButton:hover:after{
    opacity: 0;
}


.blogButton:hover::before{
    opacity: 1;
}
.blogButton:hover{
    /* background-color: rgba(0, 0, 0,0.5); */
    /* scale: var(--title-letter-spacing); */
    /* transform: sc; */
    /* mix-blend-mode: overlay; */
    /* background-clip: unset; */
    -webkit-text-fill-color: white;
    /* -webkit-background-clip: unset; */
}



.blogTitle{
    color:white;
    font-family: "Outfit";
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    height: 100%;
    width: fit-content;
    margin: 0px;
    position: absolute;
    /* word-break: ; */
    text-align: center;
    vertical-align: middle;

    height: fit-content;
    /* line-height: 75%; */
    line-height: 150%;



    /* font-size: 200px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    /* line-height: 125px;
    font-size: 120px; */


    /* line-clamp: 2; */

    /* filter: saturate(2); */
    /* opacity: 0.8; */
    

    transition: 250ms;
    /* opacity: 0.2;
    scale: 0.8; */
    font-size: var(--title-font-size);
    /* width: var(--title-width); */

}

/* .blogButton:hover .blogTitle{
    opacity: 1;
    scale: 1;
    letter-spacing: var(--title-letter-spacing);
} */
