nav{
    /* background-color: rgba(255, 255, 255, 0.5); */
    margin-left: 38px;
    height: 100%;
    /* width: 426px; */
    /* width: 20%; */
    /* padding-left: 32px; */
    /* padding-right: 32px; */
    display: flex;
    /* padding-left: ; */
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 255, 255, 0.5); */
}
.navButtons{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.navButton{
    /* width: 88%; */
    width: 350px;
    height: 100px;
    line-height: 100px;
    /* padding: 25px; */
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    /* mix-blend-mode: overlay; */

    vertical-align: middle;
    font-family: outfit;
    font-size: 48px;
    font-weight: 900;
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    /* border: 4px white solid; */
    text-align: center;
    transition: 250ms;
}
.navButton:hover{
    /* color:rgb(236, 236, 236) */
    background-color: rgba(255, 255, 255, 0.9);
}

/* LOGOWANIE */
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;

    text-decoration: none;

}
#login{

    width: 90px;
    height:90px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;

    transition: 250ms;

}
.loginText{
    margin:0px;
    margin-top: 7px;
    color:white;
    font-family: outfit;
    font-weight: 900;
    font-size: 23px;
    text-align: center;
    line-height: 23px;
}
.loginContainer:hover #login{
    background-color: rgba(255, 255, 255, 0.7);
}
